html {
  font-size: 18px; // base font size all rem units will be based on
  margin: 0;
  padding: 0;
}

.baseTitle {
  font-weight: 500; // slightly bold
}

// .baseContainer {}

.rootContainer {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

.logo {
  min-height: 100px;
  height: 14vh;
  width: auto;
}

.title {
  font-size: 1.8rem;
}

.subtitle {
  font-size: 1.4rem;
  margin: 20px 0;
}

.presetsContainer {
  display: flex;
  justify-content: flex-start;
  margin: 30px 0;
}

.presetTitle {
  margin-right: 10px;
}

.dndContainer {
  padding: 20px;
}

.chainParamsForm {
  & > * {
    margin-bottom: 5px;
  }

  .formLabel {
    width: 40%;

    .formLabelText {
      width: 100%;
      justify-content: center;
    }
  }

  .machineHash {
    text-align: center;
  }
}

.createButton {
  margin-top: 25px;
}

.alert {
  margin: 10px 0;
}
